extends layout

block content
    h1= title
    div(class='containHome')
        p Welcome to #{title}
        form(id='selectForm')
            input(id='selector')
            button(type='submit') 'Get User'

    script(src='/javascripts/home.js')

